
@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Light), url("../fonts/Quicksand/Quicksand-Light.otf") format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Light Italic), url("../fonts/Quicksand/Quicksand-LightItalic.otf") format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Italic), url("../fonts/Quicksand/Quicksand-Italic.otf") format("otf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Regular), url("../fonts/Quicksand/Quicksand-Regular.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Dash), url("../fonts/Quicksand/Quicksand-Dash.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Bold), url("../fonts/Quicksand/Quicksand-Bold.otf") format("otf");
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand";
  src: local(Quicksand Bold Italic), url("../fonts/Quicksand/Quicksand-BoldItalic.otf") format("otf");
  font-weight: 700;
}

.brand-logo{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  margin-left: 10px;
}

.user-logo{
  background-color: black;
}

#nav-mobile a.button-collapse{
  display: initial;
}

#title{
  text-align: center;
}
#cancelButton{
  margin-left: 30px;
}
#formButton{
  text-align: center;
}

p#signUpMessage {
  font-size: 12px;
  text-align: -webkit-center;
}
input[type="text"], input[type="password"]{
  padding: 5px;
  font-size: medium;
}

p.fa.fa-lock, p.fa.fa-user-o, .fa.fa-envelope {
  font-size: medium;
}
div#eye {
  font-size: 20px;
  margin-top: 5px;
}
a.btn#eyebutton {
  vertical-align: baseline;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}
img#sticker{
  right: 20px;
  bottom: 20px;
  position:fixed;
  z-index:999;
}
a.btn.btn-primary.btn-lg {
  line-height: initial;
}
a.btn.btn-primary.service {
  width: 100%;
  margin-bottom: 10px;
}



/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

@media (min-width: 575px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}

.omb_login .omb_authTitle {
  text-align: center;
  margin-top: 1em;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
  color: red;
}


@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top:10px;
  }
}

.input-group-addon.sign-up {
  width:100%;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
i#eyebutton {
  border: 2px solid #ced4da;
  border-radius: .25rem;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/** change font weight for all input placeholder**/
::placeholder {
  opacity: 0.3;
  /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.3;
}