extends ../share/layout
block content
    div.container
        div#title
            h3 404 NOT FOUND
                h4 https://my-noqubot.herokuapp.com#{url}
                h4 is not exist


    diva.container
        .row
            .col-md-12
                .error-template
                    h1
                        | Oops!
                    |
                    h2
                        | 404 Not Found
                    |
                    .error-details
                        | Sorry, an error has occured, Requested page not found!
                    |
                    .error-actions
                        a.btn.btn-primary.btn-lg(href='/')
                            span.glyphicon.glyphicon-home
                            |                         Take Me Home
                        a.btn.btn-default.btn-lg(href='/')
                            span.glyphicon.glyphicon-envelope
                            |  Contact Support
